#ifndef __CONFIG__
#define __CONFIG__

// Video config ---------------------------------------------------------------

#define HOST "169.254.221.202"
#define PORT 1225

// Tracker config -------------------------------------------------------------

// Hack: Feed the tracker with controlled data
//     0.raw      1.raw      2.raw
// |-----+-----|-----------|-----------|---   ---|-----+-----|
//    spacebar                                      spacebar

//#define USE_CONTROLLED_IMAGES

#ifdef USE_CONTROLLED_IMAGES
#define PREFERRED_NUM_CONTROLLED_IMAGES 10
#define CONTROLLED_IMAGE_SHOW_DURATION  15*2  // [loops], should be an even number
#define CONTROLLED_IMAGE_DIR            "/Users/ngocdt/eclipse_workspace/survisualizer/utils/raw/out/son"
#endif

#endif
